<div class='container'>
  <div class='row justify-content-center'>
    <div class='form-group col-md-6 col-md-offset-3'>
      <%= form_for(@item) do |f| %>
        <%= render 'shared/error_messages' %>
          <%= f.label :item %>
          <%= f.text_field :item, class: 'form-control' %>

          <%= f.label :quantity %>
          <%= f.number_field :quantity, class: 'form-control' %>

       <%= f.submit yield(:button_text), class: 'btn btn-dark' %>

      <% end %>
    </div>
  </div>
</div>
