<% provide(:title, "Your Grocery List")%>
<h2>Your Grocery List</h2>

<%= will_paginate @groceries, list_classes: %w(pagination justify-content-center) %>
<%= link_to "Add Another Item", new_grocery_path, class: "btn btn-dark" %>

<table class="table table-striped table-dark">
    <caption>List of Grocery Items</caption>
    <thead class="thead-dark">
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>

      <% @groceries.each do |item| %>
        <tr>
          <td class="grocery-items align-middle"><%= item.item.titleize %></td>
          <td class="grocery-quantities align-middle"><%= item.quantity %></td>
          <td><%= link_to "Edit", edit_grocery_path(item),
                  class: "btn btn-secondary btn-xs" %>
          <%= link_to "Delete", grocery_path(item),
                  method: :delete,
                  class: "btn btn-secondary btn-xs",
                  data: { confirm: "Sure About That?" } %></td>
        </tr>
      <% end %>
  </table>
</table>

<%= will_paginate @groceries, list_classes: %w(pagination justify-content-center) %>
