<% provide(:title, "Grocery List")%>
<h2>Grocery List</h2>

<div>
  <%= will_paginate %>
</div>

<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>Item</th>
      <th>Quantity</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <% @groceries.each do |item| %>
      <tr>
        <td class="grocery-items"><%= item.item.titleize %></td>
        <td class="grocery-quantities"><%= item.quantity %></td>
        <td><%= link_to "Edit", edit_grocery_path(item),
                 class: "btn btn-primary"%></td>
        <td><%= link_to "Delete", grocery_path(item),
                method: :delete,
                class: "btn btn-primary",
                data: { confirm: "Sure About That?" } %></td>
      </tr>
    <% end %>
</table>
</div>

<div>
  <%= will_paginate %>
</div>

<div>
  <%= link_to "Add Another Item", new_grocery_path, class: "btn btn-primary" %>
</div>
