<% provide(:title, "Grocery List")%>
<h2>Grocery List</h2>

<div>
  <%= will_paginate %>
</div>

<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>Item</th>
      <th>Quantity</th>
      <th>Show</th>
      <th>Edit</th>
    </tr>

    <% @groceries.each do |item| %>
      <tr>
        <td class="grocery-items"><%= item.item %></td>
        <td class="grocery-quantities"><%= item.quantity %></td>
        <td><%= link_to "Show", grocery_path(item) %></td>
        <td><%= link_to "Edit", edit_grocery_path(item) %></td>
      </tr>
    <% end %>
</table>
</div>

<div>
  <%= will_paginate %>
</div>

<div class="btn btn-primary">
  <%= link_to "Add Another Item", new_grocery_path, class: "btn" %>
</div>
