<p class="item-heading">
  <strong>Item:</strong>
  <%= @item.item.titleize %>
</p>

<p class="quantity-heading">
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<div class>
  <%= link_to "Add Another Item", new_grocery_path, class: "btn btn-dark" %>
</div>
<div class>
  <%= link_to "Edit This Item", edit_grocery_path, class: "btn btn-dark" %>
</div>
<div class>
  <%= link_to "Show All Items", groceries_path, class: "btn btn-dark" %>
</div>
